/* adding the css rules for the project */
/* global */
* {
    margin: 0; 
    padding: 0;
}
body {
    font-family: Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}
header {
    color: white;
    background-color: #1e3a8a;
}
main {
    max-width: 1200px;
    padding: 0 20px;
}
footer {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
}
nav {
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}
.nav-branding a {
    color: grey;
    font-weight: bold; 
}
.nav-links a {
    align-items: center;
    color: white;
    text-decoration: none;
}
.button {
    border: none;
    background-color: #1e3a8a;
    color: white;
}
.links-button {
    background: none;
    color: white; 
}
.inline-form {
    display: inline;
}