{{! the main page for the project}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}} - NYC Danger Map: Group 9 WS 546 Final Project</title>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">NYC Danger Map: Stay alert with your community</a></li>
            </ul>
        </nav>
        <p>Welcome to Movie Search! </p>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>CS 546 Group 9 Final Project: NYC Danger Map: Community Safety Reporting </p>
        </footer>
</body>
</html>